body {
  font-family: sans-serif;
  margin: 0;
  padding: 0; }

.tile {
  background-color: #FFFFFF;
  border: 1px	#4366b0 solid;
  box-sizing: border-box;
  list-style-type: none;
  position: absolute;
  transition: all .3s ease-in-out;
  z-index: 1; }
  .tile.ghost {
    background-color: #000000;
    z-index: 0; }
    .tile.ghost:hover {
      background-color: rgba(255, 255, 255, 0.8);
      cursor: pointer; }

.board {
  background-color: black;
  height: 100vh;
  margin: 0;
  position: relative;
  width: 100%; }

.tile.absolute-middle {
  position: absolute;
  top: 50%;
  right: auto;
  left: 50%;
  bottom: auto;
  transform: translateY(-50%) translateX(-50%); }
