body {
  font-family: sans-serif;
  margin: 0;
  padding: 0; }

.tile {
  background-color: #e3ee31;
  border: 1px	#4366b0 solid;
  height: 30px;
  list-style-type: none;
  position: absolute;
  width: 30px; }
  .tile.ghost {
    background-color: black; }

.board {
  background-color: black;
  height: 100vh;
  margin: 0;
  position: relative;
  width: 100%; }

.tile.absolute-middle {
  position: absolute;
  top: 50%;
  right: auto;
  left: 50%;
  bottom: auto;
  transform: translateY(-50%) translateX(-50%); }
