@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
body {
  font-family: sans-serif;
  margin: 0;
  padding: 0; }
  body ul, body menu, body dir {
    -webkit-padding-start: 0px; }

.material-icons {
  color: #FFFFFF;
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 3em;
  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;
  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;
  /* Support for IE. */
  font-feature-settings: 'liga'; }

.tile {
  background-color: #FFFFFF;
  background-repeat: no-repeat;
  background-size: cover;
  border: 1px	#4366b0 solid;
  box-sizing: border-box;
  height: 60px;
  list-style-type: none;
  position: absolute;
  transition: all .3s ease-in-out;
  width: 60px;
  z-index: 1; }
  .tile.ghost {
    background-color: #000000;
    z-index: 0; }
    .tile.ghost:hover {
      background-color: rgba(255, 255, 255, 0.8);
      cursor: pointer; }
  .tile.A {
    background-image: url("./images/tiles/A.png"); }
  .tile.B {
    background-image: url("./images/tiles/B.png"); }
  .tile.C {
    background-image: url("./images/tiles/C.png"); }
  .tile.D {
    background-image: url("./images/tiles/D.png"); }
  .tile.E {
    background-image: url("./images/tiles/E.png"); }
  .tile.F {
    background-image: url("./images/tiles/F.png"); }
  .tile.G {
    background-image: url("./images/tiles/G.png"); }
  .tile.H {
    background-image: url("./images/tiles/H.png"); }
  .tile.I {
    background-image: url("./images/tiles/I.png"); }
  .tile.J {
    background-image: url("./images/tiles/J.png"); }
  .tile.K {
    background-image: url("./images/tiles/K.png"); }
  .tile.L {
    background-image: url("./images/tiles/L.png"); }
  .tile.M {
    background-image: url("./images/tiles/M.png"); }
  .tile.N {
    background-image: url("./images/tiles/N.png"); }
  .tile.O {
    background-image: url("./images/tiles/O.png"); }
  .tile.P {
    background-image: url("./images/tiles/P.png"); }
  .tile.Q {
    background-image: url("./images/tiles/Q.png"); }
  .tile.R {
    background-image: url("./images/tiles/R.png"); }
  .tile.S {
    background-image: url("./images/tiles/S.png"); }
  .tile.T {
    background-image: url("./images/tiles/T.png"); }
  .tile.U {
    background-image: url("./images/tiles/U.png"); }
  .tile.V {
    background-image: url("./images/tiles/V.png"); }
  .tile.W {
    background-image: url("./images/tiles/W.png"); }
  .tile.X {
    background-image: url("./images/tiles/X.png"); }
  .tile.rotation-1 {
    transform: rotate(0deg); }
  .tile.rotation-2 {
    transform: rotate(90deg); }
  .tile.rotation-3 {
    transform: rotate(180deg); }
  .tile.rotation-4 {
    transform: rotate(270deg); }

.board {
  background-color: black;
  height: 100vh;
  margin: 0;
  position: relative;
  width: 100%; }

.panel {
  align-items: center;
  background-color: #4366b0;
  bottom: 0;
  display: flex;
  justify-content: space-around;
  left: 0;
  min-height: 20vh;
  position: fixed;
  width: 100%; }
  .panel h3 {
    color: #FFFFFF; }
  .panel .tile {
    position: relative; }
  .panel .material-icons {
    cursor: pointer;
    display: block; }

.tile.absolute-middle {
  position: absolute;
  top: 50%;
  right: auto;
  left: 50%;
  bottom: auto;
  transform: translateY(-50%) translateX(-50%); }
